
<ul class="nav">
  <li class="nav-item mr-auto">
    <%= link_to 'Members list', members_path, class: "button is-warning" %>
  </li>
  <li class="nav-item ">
      <%= link_to 'Logout', logout_path, class: "button is-info"  %>
  </li>
</ul>
<div class="content">
<div class="columns">
    <div class="column">
    <h1 id="dashboard-title">DASHBOARD</h1>
    </div>
  </div>
    <!-- <div class="content"> -->
    <div class="columns">
      <div class="column">
        <%= pie_chart Member.group(:city).count %>
      </div>
    <!-- </div> -->
    <!-- <div class="content"> -->
      <div class="column">
        <%= column_chart Member.group(:study_type).count %>
      </div>
      </div>
    <!-- </div> -->
</div>
