


<div class="container text-center">
  <h1>Welcome to the Community App</h1>
  <img src="http://www.santegidio.org/immagini/varie/logo-sant-egidio-player1.jpg" alt="santegidio_logo">
  <h4>Please enter your credential <%= link_to 'Login', '/login' %></h4>


</div>
