<div class="content">
  <div class="title is-2 has-text-centered" id="new-form-title"><strong>New Member</strong></div>
  <%= render 'form', member: @member %>

  <%= link_to 'Back', members_path %>
</div>
